<div x-data="{ cartOpen: false , isOpen: false }" class="bg-white">
    <main class="my-8">
        <div class="container mx-auto px-6">
            <div class="md:flex mt-8 md:-mx-4">
              <div class="mb-16 w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" style="background-image: url('<%= @all_game_image.attached? ? url_for(@all_game_image) : '' %>')">
                    <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                        <div class="px-10 max-w-xl">
                            <h2 class="text-2xl text-white font-semibold">Board Games</h2>
                            <p class="mt-2 text-gray-200">View our selection of board games in stock.</p>
                            <button class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none">
                                <%= link_to "Browse All Games", games_path%>
                                <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>
                  <div class="mb-16 w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" style="background-image: url('<%= @all_categories_image.attached? ? url_for(@all_categories_image) : '' %>')">
                    <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                        <div class="px-10 max-w-xl">
                            <h2 class="text-2xl text-white font-semibold">Categories</h2>
                            <p class="mt-2 text-gray-200">Interested in a certain genre of game? View board games by their category here.</p>
                            <button class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none">
                                <%= link_to "Browse Categories", categories_path%>
                                <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-gray-600 text-2xl font-medium">Sales - <a href="/games?on_sale" class="font-normal text-lg text-blue-600 hover:underline">View All</a></h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                    <% @games_on_sale.each do |game|%>
                        <%= render partial: 'common/game', locals: { game: game } %>
                    <% end %>
                </div>
            </div>
            <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">Recently Added - <a href="/games?recently_added" class="font-normal text-lg text-blue-600 hover:underline">View All</a></h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                    <% @games_created_recently.each do |game|%>
                        <%= render partial: 'common/game', locals: { game: game } %>
                    <% end %>
                </div>
            </div>
        </div>
    </main>
</div>